<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ZigLag</title>
    <meta name="description" content="Self-hosted invoicing">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700;800&family=Be+Vietnam+Pro:wght@400;500;700&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <meta name="author" content="ZigLag">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/static/css/vuetify.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    <link rel="stylesheet" href="/static/css/app.css">

    {% block css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/vuetify.min.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/config.js"></script>
    {% block js %}{% endblock %}
</body>
</html> 